.heading {
    background-color: bisque;
    font-family: 'Pacifico', cursive;
    text-align: center;
    background-image: url("C:\Users\pants\Desktop\CODING\resources\images\coding.jpg");
    color: white;
}

body {
    background-image: url("C:\Users\pants\Desktop\CODING\resources\images\coding2.jpg");
    color: lightyellow;
    font-size: 23px;
}

div {
  border: 5px dotted red;
  margin: 20px;
  padding: 20px 30px;
}

.colors li{
    border: 1px solid black;
    margin: 20px;
    display: inline-block;
    text-align: center;
    padding: 20px 30px;
    font-style: italic;
    color: black;
}

h2 {
    color: yellow;
    font-family: 'Dm serif', cursive;
}

h3 {
    text-decoration: underline;
}

.Newsreader {
    font-family: "Newsreader", cursive;
}
.Dmserif {
    font-family: 'Dm serif', cursive;
}
.Rgscript {
    font-family: "Rouge Script", cursive;
}
.Pcfico {
    font-family: "Pacifico", cursive;
}
.Brcito {
    font-family: "Barriecito", system-ui;
}

.closing {
    font-family: "Rouge Script", cursive;
    font-style: italic;
}

#end {
    text-align: right;
    font-size: x-small;
}